@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: local('Amaranth'), url(http://fonts.gstatic.com/s/amaranth/v6/No9yO-s63zoPZDtAqBg6OfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
h1, h2 {font-family:Amaranth,Tahoma,sans-serif;}
body{
background-color:#dddddd}
img {
float:right;
border: 4px solid orange;
}
.center{
text-align:center;
} 
h2 {
color:blue;
text-align:center;}
section ul, section p {
padding:10px 0px 10px 0px ;
}
li, section p {
margin-left:20px;
}
#page {
width:100%;
display:table;
}
aside {width:10%;
height:auto;
display:table-cell;
background-color:black}
section {
width:31%;
display:table-cell;
height:auto;
margin-left:10px;
float:left;
box-shadow: -2px -2px 7px #000;
}
footer {
clear:left;
}
@media only screen
and (max-width : 768px) {
aside {
display:none;}              
section {
display:table-row !important;
width:100%;
margin:0 auto !important;
}
}

